@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');
body {
    font-family: 'Montserrat', sans-serif;
}


header {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: 10%;
    width: 90%;
    margin: 0 auto;
    padding: 17px 0;
}

header img {
    width: 100%;
}

[alt="logoUM"] {
    grid-column-start: 1;
    grid-column-end: 2;
}

[alt="logoUMv"] {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 10%;
    justify-self: end;
}

#inicio {
    background: url(../images/fondo.jpg) no-repeat center top #3B3A8B;
    background-size: cover;
    text-align: center;
    color: white;
    position: relative;
}

#inicio::after {
    content: " ";
    border-style: solid;
    border-width: 0 0 2.5rem 100vw;
    border-color: transparent white white transparent;
    position: absolute;
    left: 0;
    bottom: 0;
}

#inicio h1 {
    font-weight: 600;
    margin-top: 50%;
    display: inline-block;
}

#inicio h2 {
    font-weight: 300;
    font-size: 18px;
}

#inicio button {
    font-weight: 400;
    color: white;
    background-image: linear-gradient(to bottom, #4F95E6, #6193E8);
    border-radius: 3px;
    border: 0;
    padding: 7px 2em;
    margin: 1em auto 4em;
    box-shadow: 4px 8px 20px black;
}


#descripcion {
    text-align: center;
    color: #0F2367;
}

#descripcion h2 {
    font-weight: 600;
    margin: 40px auto;
}

#descripcion p {
    font-weight: 300;
    font-size: 19px;
    line-height: 1.3em;
    margin: 0 15px 3em;
}

#perfil {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: auto auto auto;
    grid-column-gap: 6%;
}

#perfil h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    color: #0F2367;
    font-weight: 600;
    margin: 40px auto;
}

#perfil h3 {
    text-align: center;
    color: #0F2367;
    font-weight: 300;
    font-size: 20px;
    width: 100%;
}

#perfil .iconos img {
    display: block;
    width: 40%;
    margin: 0 auto;

}

[alt="compromiso"] {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

[alt="emprendimiento"] {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

[alt="superación"] {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

[alt="bienestar"] {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#competencias {
    text-align: center;
    color: #0F2367;
    margin-bottom: 40px;

}

#competencias h2 {
    margin: 40px auto;
}

#competencias img {
    width: 95%
}

#competencias h3 {
    font-weight: 300;
    font-size: 22px;
}

#beneficios::before {
    content: " ";
    border-style: solid;
    border-width: 0 0 2.5rem 100vw;
    border-color: transparent white transparent white;
    position: absolute;
    left: 0;
    top: 0;
}


#beneficios {
    background: url(../images/beneficios-fondo.jpg) no-repeat center top #3B3A8B;
    background-size: cover;
    text-align: center;
    position: relative;
    color: white;
    padding-bottom: 3rem;
    padding-top: 3rem;
    position: relative;
}

#beneficios::after {
    content: " ";
    border-style: solid;
    border-width: 0 0 2.5rem 100vw;
    border-color: transparent #0F2367 #0F2367 transparent;
    position: absolute;
    left: 0;
    bottom: 0;

}


#beneficios h2 {
    font-weight: 600;
    font-size: 22px;
}

#beneficios .iconos img {
    display: block;
    width: 20%;
    margin: 50px auto 0;
}

#beneficios h3 {
    font-weight: 300;
}


footer {
    background-color: #0F2367;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 40% 40%;
}

footer h2 {
    text-align: center;
    color: white;
    margin: .5em auto 0;
    font-size: 28px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

footer button {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-weight: 400;
    color: white;
    background-image: linear-gradient(to bottom, #4F95E6, #6193E8);
    border-radius: 3px;
    border: 0;
    padding: 7px 2em;
    margin: 1em auto 2em;
    box-shadow: 4px 8px 20px black;
}

footer img {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-start: 4;
    width: 40%;
    margin-bottom: 1.5rem;
}

footer a {
    text-align: center;
}


/* Tablet */

@media screen and (min-width:768px) {

    header img {
        width: 70%;
    }
    [alt="logoUMv"] {
        margin-top: 7%
    }
    #inicio h1 {
        font-size: 50px;
    }
    #inicio h2 {
        font-size: 25px;
    }
    #inicio button {
        padding: 8px 2em;
        font-size: 18px;
    }
    #descripcion h2 {
        font-size: 25px;
        text-align: center;
    }
    #perfil {
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        grid-template-rows: 10% 90%;
        grid-column-gap: 1%;

    }
    #perfil h2 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 25px;
        text-align: center;
    }
    #perfil img {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-gap: 3;
    }


    #competencias {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 10% 90%;
    }
    #competencias h2 {
        font-size: 25px;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #beneficios {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 10% 90%;
    }
    #beneficios h2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 25px;
    }
    #beneficios h3 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        font-weight: 300;
        font-size: 25px;
        text-align: center;
    }
    footer h2 {
        font-size: 35px;
    }
    footer button {
        padding: 8px 2em;
        font-size: 18px;
    }
    footer img {
        width: 15%;

    }
    /* Desktop */
    @media screen and (min-width:1024px) {
        header img {
            width: 40%;
        }
        [alt="logoUMv"] {
            margin-top: 4%;
        }
        #inicio h1 {
            font-size: 70px;
            margin-top: 35%;
        }
        #inicio h2 {
            font-size: 35px;
        }
        #inicio button {
            padding: 10px 4em;
            font-size: 20px;
        }
        #descripcion h2 {
            font-size: 30px;
        }
        #descripcion p {
            font-size: 25px;
        }
        #perfil h2 {
            font-size: 30px;
        }
        #competencias h2 {
            font-size: 30px;
        }
        #beneficios {
            padding: 120px 0;
        }
        #beneficios h2 {
            font-size: 30px;
        }
        footer h2 {
            font-size: 40px;
        }
        footer button {
            padding: 10px 4em;
            font-size: 20px;
        }
        footer img {
            width: 10%;
        }
    }
